@require '../variable.styl'

$content-margin-left-length = 96px

.page-about
  .content-wrap
    height auto

  .about-content-box
    display block

  .directory
    height 50px
    font-size 0.95em
    line-height 50px
    color #696969

  .about-brief
    width 100%
    display inline-block
    margin-top 30px
    margin-bottom 30px
    text-align center

  .about-title
    height 2px
    background lightgrey
    text-align center
    span
      background white
      position relative
      top -0.7em
      color #036eb8
      font-size 1.4em
      padding 0 10px

  .about-content
    display inline-block
    width 100%
    position relative
    margin-top 35px

  .about-image
    // float left
    display inline-block
    width 590px
    height 430px
    padding 0
    border 1px solid

  .about-text
    display inline-block
    width 590px
    font-size 1.05em
    text-align left
    p
      margin-top 0
      font-size 1em !important
      line-height 1.65em !important
    ul
      display block
      width 100%
      height 100%
      li
        margin-left 18px
        font-size 1.05em !important
        line-height 1.65em !important

  .on-left
     float left
     margin-right 25px

  .on-right
    float right
    margin-left 25px

  .full
    display block
    width 100%

  .clear-inline
    clear both