@require '../variable.styl'

.page-activity

  .directory
    height 50px
    font-size 0.95em
    line-height 50px
    color #696969

  .activity-container
    padding-top 0px
    min-height 559px
    width 100%

  .content-wrap
    position relative
    margin 0 auto
    width 1250px
    height auto

    .largepic
      width 1250px
      height 440px
      background-color #efefef

    .activity-title
      margin-top 50px
      height 1px
      background lightgrey
      text-align center
      span
        background white
        position relative
        top -0.7em
        color #036eb8
        font-size 1.4em
        padding 0 10px

    .divide
      vertical-align:top
      width 620px
      display inline-block

    .pic-container
      width 1250px
      margin-top 20px

    .pic
      min-height 300px
      width 413px
      background-color #efefef
      display inline-block

  table
    margin-top 40px
    line-height 50px
    color #444444
    font-size 1.2em
    text-align left
    width 100%


    td
      padding-left 10px

    th
      background-color #efefef
      text-align center
      line-height 40px
      padding auto

  p
    line-height 40px
    font-size 1.2em
    color #444