@require '../variable.styl'

.page-course
  // height 100%

  .directory
    height 50px
    font-size 0.95em
    line-height 50px
    color #696969

  .content-wrap
    position relative
    margin 0 auto
    width 1250px
    height auto

  .courselist-container
    padding-top 0px
    min-height 559px
    width 100%

  .largepic
   width 1250px
   height 440px
   background-color #efefef

  table
    margin-top 40px
    line-height 50px
    color #444444
    font-size 1.2em
    text-align left
    width 100%

   th
     background-color #efefef
