@require '../variable.styl'

$sub-bgcolor = rgba(239, 239, 239, 1)

.sub-enteremail
   background #EFEFEF
   overflow hidden
   height 100%
   width 100%

  header, form, h1, h2, h3, #sub-prompt
    transition all 1s $easeOutCubic

  #unsub
    position relative
    margin 20px auto 150px auto
    width 600px
    height 280px
    background #FFFFFF
    background-image url(../resources/subscribe_bg-01.png)
    background-repeat no-repeat
    background-position 105% 105%
    box-shadow 0px 5px 20px #CCCCCC

  #unsub-prompt
    position absolute
    text-align center
    color #717171
    font-weight 100
    font-size 1.5em
    height 200px
    width 350px
    overflow hidden
    padding 50px 125px 50px 125px

  .main-container
    position relative
    margin 20px auto 150px auto
    width 600px
    height 400px
    background #FFFFFF
    background-image url(../resources/subscribe_bg-01.png)
    background-repeat no-repeat
    background-position 105% 105%
    padding 50px
    box-shadow 0px 5px 20px #CCCCCC

  .center-box
    position relative

  .center-box h2
    margin 0
    color #717171
    font-size 2em
    font-weight 100

  .center-box h3
    font-size 1.1em
    font-weight 200
    color #474445

  .class-layer
    margin-right 10px
    margin-buttom 5px
    display inline-block

  .sub-navigator
    height 200px

  .sub-blue-bar
    background rgb(75, 150, 200)
    height 10px
    margin-left -15px

  .sub-form
    position relative
    height 80%
    font-family $sse-font-family
    color #999999
    text-shadow 0.1px 0.1px 0.1px #FFF
    border1px solid #DDD
    border-radius 5px

  .user-mail
    font-size 1em
    color #717171
    font-weight 100

  .sub-form .button
    padding 5px 25px 5px 25px
    margin-top 10px
    width 150px
    height 40px
    float left
    color #FFFFFF

  .sub-form .button-sub
    border 0
    background #6C8AA3
    margin-left 150px

  .sub-form .button-unsub
    border 0
    color #727272
    background transparent

  .sub-form .button-sub:hover
    background #6C9CA3
    color #696969
    border-color #ADADAD

  .sub-form .button-sub:active
    border 2px solid #ADADAD
    outline none /* hide dotted outline in Firefox */
    animation  none

  .sub-form .button-unsub:hover
    background #CCCCCC

  .sub-form input[type=checkbox].css-checkbox
    position absolute
    overflow hidden
    clip rect(0 0 0 0)
    height 1px
    width 1px
    margin -1px
    padding 0
    border 0

  .sub-form input[type=checkbox].css-checkbox + label.css-label
    padding-left 20px
    height 15px
    display inline-block
    line-height 15px
    background-repeat no-repeat
    background-position 0 0
    font-size 1em
    vertical-align middle
    cursor pointer
    margin 10px 0 10px 0
    user-select none

  .sub-form input[type=checkbox].css-checkbox:checked + label.css-label
    background-position 0 -15px

  .sub-form input[type=email]
    color #999
    min-width 400px
    height 42px
    line-height 42px
    padding 0 15px
    background-color transparent
    background rgba(213,224,236,.2)
    -moz-border-radius 6px
    -webkit-border-radius 6px
    border-radius 6px
    border 1px solid rgba(255,255,255,.15)
    -moz-box-shadow 0 2px 3px 0 rgba(0,0,0,.1) inset
    -webkit-box-shadow 0 2px 3px 0 rgba(0,0,0,.1) inset
    box-shadow 0 2px 3px 0 rgba(0,0,0,.1) inset
    font-size 14px
    text-shadow 0 1px 2px rgba(0,0,0,.1)
    -o-transition all .2s
    -moz-transition all .2s
    -webkit-transition all .2s
    -ms-transition all .2s

    .sub-form input:focus [type=email]
      outline none
      box-shadow
        0 2px 3px 0 rgba(0,0,0,.1)

  .sub-form .depressed
    background-image url(../resources/depressed.png)

  #sub-prompt
    position absolute
    color #717171
    font-weight 100
    height 100px
    width 350px
    overflow hidden
    padding 150px 125px 200px 125px

  #sub-prompt p
    text-align center
    width 200px
    margin 20px auto 10px auto
    font-size 1.5em

  #sub-prompt div, #unsub-prompt div
    font-size 0.8em
    margin-left auto
    margin-right auto
    width 150px

  #sub-prompt button
    color #0A95F2
    background transparent
    border 0
    width 50%
    float left
    margin-left auto
    margin-right auto

  #unsub-prompt button
    width 75px
    color #0A95F2
    background transparent
    border 0
    float left
    margin-left auto
    margin-right auto
    font-size 0.8em

  .invi
    opacity 0
    z-index -1

  .front-div
    z-index 10

  .opaque
    opacity 0.3

//dialog

  .content
    max-width 1000px
    padding 0 1em
    margin 0 auto
    text-align center
    -webkit-touch-callout none
    -webkit-user-select none
    -khtml-user-select none
    -moz-user-select none
    -ms-user-select none
    user-select none

  .button-wrap
    padding 1em 0 0
    font-size 1.25em

  button.trigger
   background transparent
   border none
   color #0A95F2
   width 200px

  input[type=submit]
    background lightsteelblue
    color darkslategray
    border none
    padding 10px 40px

  .dialog,
  .dialog__overlay
    width 100%
    height 100%
    top 0
    left 0


  .dialog
    position fixed
    display -webkit-flex
    display flex
    -webkit-align-items center
    align-items center
    -webkit-justify-content center
    justify-content center
    pointer-events none


  .dialog__overlay
    position absolute
    z-index 1
    background rgba(143, 143, 143, 0.8)
    opacity 0
    -webkit-transition opacity 0.3s
    transition opacity 0.3s
    -webkit-backface-visibility hidden


  .dialog__content
    width 20%
    max-width 300px
    min-width 100px
    text-align center
    position relative
    z-index 5
    opacity 0



  .dialog--open .dialog__content
    pointer-events auto

  /* Content */
  .dialog h2
    margin 0
    font-weight 100
    font-size 1.2em
    padding .5em 0 1em


  .dialog img
    padding-top .7em

  //unique

  .dialog--open .dialog__overlay
    -webkit-transition-duration 0.8s
    transition-duration 0.8s


  .dialog--close .dialog__overlay
    -webkit-transition-duration 0.5s
    transition-duration 0.5s

  .dialog.dialog--open .dialog__content
    opacity 1


  .morph-shape
    position absolute
    width calc(100% + 4px)
    height calc(100% + 4px)
    top -2px
    left -2px
    z-index -1


  .morph-shape svg rect
    stroke #fff
    stroke-width 2px
    stroke-dasharray 1680


  .dialog--open .morph-shape svg rect
    -webkit-animation anim-dash 0.6s forwards
    animation anim-dash 0.6s forwards


  .dialog-inner
    opacity 0
    background #fff


  .dialog--open .dialog-inner
    padding 1em
    opacity 1
    -webkit-transition opacity 0.85s 0.35s
    transition opacity 0.85s 0.35s


  .dialog.dialog--open h2
    -webkit-animation anim-elem-1 0.7s ease-out both
    animation anim-elem-1 0.7s ease-out both

  .dialog.dialog--open button
    -webkit-animation anim-elem-2 0.7s ease-out both
    animation anim-elem-2 0.7s ease-out both
