@require '../variable.styl'

.news-footer
  display block
  // position absolute
  // bottom 0
  // min-height 150px
  width 100%
  min-width 1250px
  margin-top 65px
  // padding-left 15px
  background #332f2e
  // max-height 300px
  bottom 0

.block-blank
  width 100%
  height 20px

.footer-content
  display inline-flex
  width 100%

.footer-list
  display block
  color lightgrey
  width 180px

.footer-list-title
  color #ffffff
  font-size 1.15em
  line-height 2.5em

.footer-list-item
  // margin-left 15px
  line-height 1.6em

.news-footer-author
  margin-top 30px
  line-height 50px
  height 50px
  font-size 1.05em
  color #ffffff