@require '../variable.styl'

.page-index
  display block
  position relative

  header
    display block
    height $nav-height

    color #ffffff

  .nav-title
    @extends .vertical-container
    float left
    margin auto
    padding auto
    height 100%
    width 25%
    text-align center
    vertical-align middle
    background $background-black

    a
      @extends .vertical-container
      transition all 0.5s ease-out
      height 100%
      width 100%

    :hover, :focus
      background-color: $background-black-darken

