@require '../variable.styl'

.page-index
  background url(../resources/bg.jpg) center center no-repeat
  background-size cover

  header
    position absolute
    left: 0px
    top: 0px
    width: 100%
    height: $nav-height
    background $background-black

  .content-wrap
    position: relative
    margin 0 auto
    height 100%
    width 1250px

  .nav-title
    color: #ffffff
    line-height $nav-height
    width 25%
    float left
    cursor pointer
    text-align center
    transition all .2s ease-out

  .nav-title:hover
    background $background-black-darken

  .nav-lists-container
    z-index 3
    position absolute
    top $nav-height
    bottom $footer-height
    left 0
    display block
    float left
    width 100%

  .nav-list
    // background $background-black
    position relative
    width 25%
    height 100%
    float left

  .nav-list-inner
    overflow hidden
    background $background-black
    width 100%
    height 0
    opacity 0
    transition height .4s, opacity .4s
    transition-timing-function cubic-bezier(0.215, 0.61, 0.355, 1)

  .nav-list.nav-list-active .nav-list-inner, .nav-list:hover .nav-list-inner
    height 100%
    opacity 1

  .nav-list-active
    height 100%
    opacity 1

  ul
    overflow hidden
    top $nav-height
    bottom $nav-height
    left 0px
    margin-top 0px
    width 100%
    height 100%


  li
    overflow hidden
    padding-left 15px
    line-height 28px
    font-size 1.05em
    line-height 35px
    height 35px
    transition all .2s linear;
    cursor pointer
    list-style none
    color white

  li:hover
    background $background-black-darken
    color $highlight-blue

  .list-item-primary
    padding-left 15px
  .list-item-primary:hover
    padding-left 25px

  .list-item-secondary
    padding-left 25px
  .list-item-secondary:hover
    padding-left 35px

  footer
    display block
    position absolute
    left 0
    width: 100%
    bottom 0
    height $footer-height
    line-height $footer-height
    color: #ffffff
    background $background-black

  // Logo part
  .logo-container
    z-index 1
    position fixed
    bottom 20%
    right 12%
    width 572px
    height 214px
    background $background-black

  .blue-bar
    position relative
    width 100%
    height 3%
    background $highlight-blue

  .logo-main-part
    margin-top 35px
    margin-left 45px

  .tj-logo
    width 85%
    height 35%