@require '../variable.styl'

.page-infolist
  // height 100%

  .content-wrap
    position relative
    margin 0 auto
    width 1250px
    height auto

  .info-list-container
    padding-top $newspage-nav-height
    min-height 459px
    width 100%
    padding-left 15px