@require '../variable.styl'

.page-infolist
  // height 100%

  .content-wrap
    position relative
    margin 0 auto
    width 1250px
    height auto

  .info-list-container
    padding-top 0px
    min-height 559px
    width 100%
    // padding-left 15px
    // float left

  .info-list-left
    float left
    width 850px
    min-height 521px

  .info-list-right
    width 300px
    float right
    margin-right 50px

  .info-row
    height 2.5em
    // font-size
    line-height 2.5em
    width 850px
    vertical-align center
    margin auto 0
    cursor pointer
    border-radius 4px
    transition all linear .2s
    padding 0 10px

  .info-row:hover
    background lightgrey

  .info-date
    color #5996c5

  .info-title
    margin-left 25px

  .change-page-container
    margin-bottom 15px
    width 750px
    text-align center

  .change-page-btn
    outline none
    background none
    border none

  .current-page
    color $highlight-blue
    font-weight bold

  .info-deadline
    float right
    /*background red*/
    /*color white*/
    border-radius 4px
    width 180px
    text-align center

  .info-deadline:before
    content "到期时间："