@require '../variable.styl'

.page-news
  .content
    display block
    // margin-top $newspage-nav-height
    // bottom $newspage-nav-height
    width 100%
    margin-left 15px

  .news-text
    // float left
    width 65%
    p
      margin 10px 0
      line-height 1.5em

  .directory
    height 50px
    font-size 0.95em
    line-height 50px
    color #696969

  .change-lang
    float right
    margin-right 65px

  .news-title
    margin auto
    width 100%
    font-size 1.8em
    text-align center

  .news-date
    line-height 3em
    margin auto
    width 100%
    font-size 1.2em
    text-align center
    color $highlight-blue

