@require '../variable.styl'

  .navigator
    z-index 1
    // position absolute
    // top 0px
    // left 0px
    margin-top 0px
    padding-top 0px
    // padding-left 15px
    width 100%
    height $newspage-nav-height
    background #dddddd
    min-width 1250px

  .blue-bar
    width 100%

  .tj-logo
    float left
    // margin-left 15px
    margin-top 55px
    // height 160px
    width 480px

  .nav-others
    position relative
    float right
    height 97%
    width 40%
    // background #777777

  .nav-others-item
    z-index 5
    position relative
    float right
    line-height $newspage-nav-height - 10px
    font-size 1.21em
    margin-right 50px
    a
      text-decoration none
      color #111
      // transition color linear .2s
    a:visited
      color #111
    a:hover
      color orange

  .nav-special-block
    display block
    z-index 1
    overflow hidden
    background rgba(255,255,255,0)
    opacity 1
    position absolute
    top $newspage-nav-height - 145px
    right -25px
    // width 450px
    // height 250px
    width 125px
    height 80px
    transition all .2s
    transition-timing-function cubic-bezier(0.215, 0.61, 0.355, 1)
    border-radius 4px
    a
      text-align right
      display block
      width 100%
      float right
      opacity 1
      line-height 80px
      margin-right 25px

  .nav-special-block:hover
    opacity 1
    width 450px
    height 250px
    background rgba(255,255,255,1)
    box-shadow 1px 1px 4px #d9d9d9
    // border: 1px solid #939393;

  .nav-special-col
    float right
    width 25%
    font-size 0.9em
    line-height 1.55em
    text-align center

  .nav-special-row
    font-size 0.75em
    color dimgrey

  .nav-special-row-title
    font-size 1.05em
    color #111



