@require '../variable.styl'

.page-news
  .navigator
    position absolute
    top 0px
    left 0px
    margin-top 0px
    padding-top 0px
    width 100%
    height $newspage-nav-height
    background #dddddd

  .content-wrap
    position: relative
    margin 0 auto
    height 100%
    width 1250px

  .tj-logo
    float left
    margin-left 15px
    margin-top 15px
    height 80%
    width 480px

  .nav-others
    position relative
    float right
    height 97%
    width 40%
    // background #777777

  .nav-others-item
    position relative
    float right
    line-height $newspage-nav-height - 10px
    font-size 1.15em
    margin-right 50px
    a
      text-decoration none
      color #111
