@require '../variable.styl'

.page-recruit

  .directory
    height 50px
    font-size 0.95em
    line-height 50px
    color #696969

  .recruit-container
    padding-top 0
    min-height 559px
    width 100%


  .content-wrap
    position relative
    margin 0 auto
    width 1250px
    height auto

    .largepic
      img
       width 1250px
       height 440px
       background-color #efefef

    .recruit-title
      margin-top 50px
      height 1px
      background lightgrey
      text-align center
      span
        background white
        position relative
        top -0.7em
        color #036eb8
        font-size 1.4em
        padding 0 10px

    .ul-block
      width 1250px
      margin-top 30px
      ul
        line-height 40px

        li
          font-size 1.2em
          font-weight normal
          color #444
          list-style-type none

    .pic-container
      width 1250px
      margin-top 20px

    .pic
      min-height 300px
      width 413px
      background-color #efefef
      display inline-block

    .directIntro
      width 1250
      margin-top 30px

    .one-half
      vertical-align top
      width 620px
      display inline-block

    .one-third
      vertical-align:top
      padding 5px 30px
      width 350px
      display inline-block
      img
        width 350px
        height 300px
      a
        text-decoration none
        font-size 1.2em
        font-weight bold
        color #444
        margin-top 10px
        margin-left 80px
        float left


    .pic-block-left
      padding 10px
      margin-top 20px
      display inline-block
      float left
      img
        border-radius 50%
        width 200px
        height 200px

    .pic-block-right
      padding 10px
      margin-top 20px
      display inline-block
      float right
      img
        border-radius 50%
        width 200px
        height 200px


    #connect
      margin-left 200px


  table
    margin-top 40px
    line-height 50px
    color #444444
    font-size 1.2em
    text-align left
    width 100%


    td
      padding-left 10px
      width 155px

    th
      background-color #efefef
      text-align center
      line-height 40px
      padding auto

  p
    line-height 40px
    font-size 1em
    color #444

  h2
    font-size 1.4em
    text-align center
    margin 5px
    padding 3px