.page-teachers-list
  display block

  .teacher-list-container
    margin-top 0px

  /*.content-wrap*/
    /*overflow auto*/

  .directory
    color dimgrey
    line-height 50px

  .teacher-list-slides
    display block

  .department-containers
    display table-cell
    width 1280px

  .department-wrapper
    margin 0 auto
    margin-top 40px
    width 100%

  .department
    width 260px
    height 200px
    float left
    text-align center
    margin-left 40px
    // box-shadow 2px 2px 6px #d9d9d9
    border-radius 4px

  .department-name
    padding-bottom 10px
    margin-bottom 10px
    margin-left 5%
    line-height 1.5em
    font-size 1.15em
    width 85%
    border-bottom lightgrey 1px solid

  .teacher-name-row
    margin-top 0.5em
    line-height 1.4em
    font-size 0.9em
    width 100%
    a
      display inline-block
      text-align center
      width 80px
      text-decoration none
      color $highlight-blue
    a:visited
      color $highlight-blue

  .teacher
      width 80px
      text-align left
