.page-teachers-list
  display block

  .teacher-list-container
    margin-top 0px

  /*.content-wrap*/
    /*overflow auto*/

  .directory
    color dimgrey
    line-height 50px

  .teacher-list-slides
    display block

  .slider-wrapper
    width: 80%;
    margin-top 100px

  .slides-container
    width 100%

  .slide-wrapper
    display inline-block
    margin-top 0px
    width 100%
    height 440px

  .slides-container
    overflow hidden
    display inline-block

  #slider
    display block
    width 300%
    height 100%
    .slide-imgs
      display inline-block
    img
      width 1250px!important
      float left
      transition all ease-in-out .2s