.page-teacher-content
  .teacher-content-container
    display block
    width 100%

  .teacher-content-left
    display block
    width 65%
    float left

  .teacher-content-right
    display block
    width 30%
    float right

  .teacher-intro-primary
    display block
    padding 30px
    float left
    width 100%

  .teacher-intro-primary-right
    display inline-block
    float left
    width 400px
    margin-left 57px

  .teacher-photo
    display inline-block
    float left

  .teacher-intro-primary-row
    display block
    margin 15px auto
    width 100%
    color #444444

  .teacher-name
    font-size 1.8em

  .teacher-name-pinyin
    margin-left 15px
    font-size 1.5em
    color lightgrey

  .teacher-job
    display block
    font-size 1.2em

  .teacher-contact
    font-size 0.8em

  .about-brief
    width 100%
    display inline-block
    margin-top 30px
    margin-bottom 30px
    text-align center

  .about-title
    height 2px
    background lightgrey
    text-align center
    span
      background white
      position relative
      top -0.7em
      color #036eb8
      font-size 1.1em
      padding 0 10px

  .about-content
    width 100%
    margin-top 17px
    margin-bottom 17px
    p
      text-align left
    ul, ol
      margin-left 25px
    li
      text-align left