//
   Created by joshoy on 15-5-21.
<!doctype html>

html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", type="text/css", href="css/style.css")
    title 欢迎光临同济大学软件学院
  body
    .page-index
      header
        .nav-title
          a 了解学院
        .nav-title
          a 学院新闻
        .nav-title
          a 学院通知
        .nav-title
          a 其他链接
      .nav-lists-container
         .nav-list
         .nav-list
         .nav-list
            ul
              li.list-item-primary 本科生
              li.list-item-secondary 2014级本科生
              li.list-item-secondary 2013级本科生
              li.list-item-secondary 2012级本科生
              li.list-item-secondary 2011级本科生
              li.list-item-secondary 已毕业本科生
              li.list-item-primary 研究生
              li.list-item-primary 博士生
              li.list-item-primary International
              li.list-item-primary 教师
         .nav-list
      footer
