//
   Created by joshoy on 15-5-21.
<!doctype html>

html.page-index-preset
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    script(type="text/javascript", src="bower_components/jquery/dist/jquery.min.js")
    link(rel="stylesheet", type="text/css", href="css/style.css")
    script(type="text/javascript", src="js/page/index.js")
    title 欢迎光临同济大学软件学院
  body.page-index

      header
        div.content-wrap
          .nav-title#nav-title-0
            a 了解学院
          .nav-title#nav-title-1
            a 学院新闻
          .nav-title#nav-title-2
            a 学院通知
          .nav-title#nav-title-3
            a 其他链接
      .nav-lists-container
        div.content-wrap
         .nav-list#nav-list-0
           .nav-list-inner
             ul
               li.list-item-primary 本科生
               li.list-item-secondary 2014级本科生
               li.list-item-secondary 2013级本科生
               li.list-item-secondary 2012级本科生
               li.list-item-secondary 2011级本科生
               li.list-item-secondary 已毕业本科生
               li.list-item-primary 研究生
               li.list-item-primary 博士生0
         .nav-list#nav-list-1
           .nav-list-inner
             ul
               li.list-item-primary 本科生
               li.list-item-secondary 2014级本科生
               li.list-item-secondary 2013级本科生
               li.list-item-secondary 2012级本科生
               li.list-item-secondary 2011级本科生
               li.list-item-secondary 已毕业本科生
               li.list-item-primary 研究生
               li.list-item-primary 博士生1
         .nav-list#nav-list-2
           .nav-list-inner
             ul
               li.list-item-primary 本科生
               li.list-item-secondary 2014级本科生
               li.list-item-secondary 2013级本科生
               li.list-item-secondary 2012级本科生
               li.list-item-secondary 2011级本科生
               li.list-item-secondary 已毕业本科生
               li.list-item-primary 研究生
               li.list-item-primary 博士生
               li.list-item-primary International
               li.list-item-primary 教师
         .nav-list#nav-list-3
           .nav-list-inner
             ul
               li.list-item-primary 本科生
               li.list-item-secondary 2014级本科生
               li.list-item-secondary 2013级本科生
               li.list-item-secondary 2012级本科生
               li.list-item-secondary 2011级本科生
               li.list-item-secondary 已毕业本科生
               li.list-item-primary 研究生
               li.list-item-primary 博士生3


      .logo-container
        .blue-bar-index-page
        .logo-main-part
          img.tj-logo(src='resources/logo.svg')
      footer
        .content-wrap Copyleft 2015 SSE

