//
   Created by joshoy on 15-7-11.

<!doctype html>

html
   head
      meta(charset="utf-8")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      script(type="text/javascript", src="bower_components/jquery/dist/jquery.min.js")
      // link(rel="stylesheet", type="text/css", href="css/foundation.min.css")
      link(rel="stylesheet", type="text/css", href="css/style.css")
      link(href="css/font-awesome.min.css", rel="stylesheet", type="text/css")
      script(type="text/javascript", src="js/page/newspageNavigator.js")
      title 通知列表
   body.page-news.page-infolist
      .navigator
         .blue-bar
         .content-wrap
            img.tj-logo(src='resources/logo.svg')
            .nav-others
               .nav-others-item
                  a(href="#") 学院通知
               .nav-others-item
                  a(href="#") 学院新闻
               .nav-others-item
                  .nav-special-block
                     a(href="#") 了解学院
                     .nav-special-col
                        .nav-special-row.nav-special-row-title 学院概要
                        .nav-special-row 我能吞下玻璃而不伤身体
                        .nav-special-row 我能吞下玻璃而不伤身体
                     .nav-special-col
                        .nav-special-row.nav-special-row-title 学院概要
                        .nav-special-row 我能吞下玻璃而不伤身体
                        .nav-special-row 我能吞下玻璃而不伤身体
                     .nav-special-col
                        .nav-special-row.nav-special-row-title 学院概要
                        .nav-special-row 我能吞下玻璃而不伤身体
                        .nav-special-row 我能吞下玻璃而不伤身体
                     .nav-special-col
                        .nav-special-row.nav-special-row-title 学院概要
                        .nav-special-row 我能吞下玻璃而不伤身体
                        .nav-special-row 我能吞下玻璃而不伤身体
      .info-list-container
         .content-wrap
            .directory 首页 > 学院通知 > 13级本科生
               // .change-lang" ENGLISH
            .info-list-contents
               .info-list-left
                  .info-row
                     span.info-date 2015-07-08
                     span.info-title 2015年同济大学“同行计划”赴湖南省暑期挂职锻炼
                  .info-row
                     span.info-date 2015-06-19
                     span.info-title 大二、大三学生开展SERU网上问卷调查的通知
                  .info-row
                     span.info-date 2015-06-18
                     span.info-title 大二、大三学生开展SERU网上问卷调查的通知
               .info-list-right
                  .info-list-sidebar
                     .box-search
                        input.info-sidebar-search-input(placeholder='搜索……', type="text")
                        button.info-sidebar-search-btn
                           span.fa.fa-search
                     button.btn-subscribe
                        span.fa.fa-archive
                        span &nbsp;&nbsp;订阅通知
                     .box-categories-container
                        .box-category
                           .category-title
                              span.fa.fa-angle-down
                              span &nbsp;
                              span 本科生
                           .category-secondary-box
                              .category-secondary 2011级本科
                              .category-secondary 2012级本科
                              .category-secondary 2013级本科
                              .category-secondary 2014级本科
                              .category-secondary 已毕业本科
                        .box-category
                           .category-title
                              span.fa.fa-angle-right
                              span &nbsp;
                              span 硕士生
                           .category-secondary-box
                        .box-category
                           .category-title
                              span.fa.fa-angle-right
                              span &nbsp;
                              span 博士生
                           .category-secondary-box
                        .box-category
                           .category-title
                              span.fa.fa-angle-right
                              span &nbsp;
                              span International
                           .category-secondary-box
                        .box-category
                           .category-title
                              span.fa.fa-angle-right
                              span &nbsp;
                              span 教师
                           .category-secondary-box

      .news-footer
         .content-wrap
            .block-blank
            .footer-content
               .footer-list
                  .footer-list-title 大项１
                  .footer-list-item 项目１
                  .footer-list-item 项目２
                  .footer-list-item 项目３
                  .footer-list-item 项目４
               .footer-list
                  .footer-list-title 大项２
                  .footer-list-item 项目１
                  .footer-list-item 项目２
                  .footer-list-item 项目３
                  .footer-list-item 项目４
               .footer-list
                  .footer-list-title 大项３
                  .footer-list-item 项目１
                  .footer-list-item 项目２
                  .footer-list-item 项目３
                  .footer-list-item 项目４
            .news-footer-author Copyleft 2015 Tongji SSE and contributors