//   Created by joshoy on 15-7-6.

<!doctype html>

html
   head
      meta(charset="utf-8")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      script(type="text/javascript", src="bower_components/jquery/dist/jquery.min.js")
      link(rel="stylesheet", type="text/css", href="css/style.css")
      title 新闻页导航栏

   body.page-news
      div.navigator
        .blue-bar
        .content-wrap
          img.tj-logo(src='resources/logo.svg')
          .nav-others
            .nav-others-item
             a(href="#") 学院通知
            .nav-others-item
             a(href="#") 学院新闻
            .nav-others-item
             a(href="#") 了解学院

