//
   Created by joshoy on 15-7-7.

//   Created by joshoy on 15-7-6.
<!doctype html>
html
   head
      meta(charset="utf-8")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      script(type="text/javascript", src="bower_components/jquery/dist/jquery.min.js")
      link(rel="stylesheet", type="text/css", href="css/style.css")
      link(href="//netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css", rel="stylesheet", type="text/css")
      script(type="text/javascript", src="js/page/sidebarSelection.js")
      title 边栏
   body
      .side-bar-selection
         .side-bar-inner
            .groups-title 面向群体
            .group-primary-box
               .group-primary.group-selected  本科生
                  span.fa.fa-check
               .group-secondary-box
                  .group-secondary 14级本科生
                  .group-secondary 13级本科生
                  .group-secondary 12级本科生
                  .group-secondary 11级本科生
            .group-primary-box
               .group-primary 硕士生
               .group-secondary-box
                  .group-secondary 14级硕士生
                  .group-secondary 13级硕士生
                  .group-secondary 12级硕士生
            .group-primary-box
               .group-primary 博士生
               .group-secondary-box
            .group-primary-box
               .group-primary International
               .group-secondary-box
            .group-primary-box
               .group-primary 教师
               .group-secondary-box