// Created by Administrator on 2015/7/13.

<!doctype html>
html
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        script(type="text/javascript", src="bower_components/jquery/dist/jquery.min.js")
        link(rel="stylesheet", type="text/css", href="css/style.css")
        link(href="//netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css", rel="stylesheet", type="text/css")
        script(type="text/javascript", src="js/page/newspageNavigator.js")
        script(type="text/javascript", src="js/page/slides-sse.js")
        title 教师列表

    body.page-teachers-list
        .navigator
          .blue-bar
          .content-wrap
            img.tj-logo(src='resources/logo.svg')
            .nav-others
              .nav-others-item
                  a(href="#") 学院通知
              .nav-others-item
                  a(href="#") 学院新闻
              .nav-others-item
                .nav-special-block
                  a(href="#") 了解学院
                  .nav-special-col
                    .nav-special-row.nav-special-row-title 学院概要
                    .nav-special-row 我能吞下玻璃而不伤身体
                    .nav-special-row 我能吞下玻璃而不伤身体
                  .nav-special-col
                    .nav-special-row.nav-special-row-title 学院概要
                    .nav-special-row 我能吞下玻璃而不伤身体
                    .nav-special-row 我能吞下玻璃而不伤身体
                  .nav-special-col
                    .nav-special-row.nav-special-row-title 学院概要
                    .nav-special-row 我能吞下玻璃而不伤身体
                    .nav-special-row 我能吞下玻璃而不伤身体
                  .nav-special-col
                    .nav-special-row.nav-special-row-title 学院概要
                    .nav-special-row 我能吞下玻璃而不伤身体
                    .nav-special-row 我能吞下玻璃而不伤身体

        .teacher-list-container
          .content-wrap
            .directory 首页 > 了解学院 > 教学团队

            .teacher-list-slides
              .slides-container
                .slide-wrapper
                  div#slider
                    .slide-imgs
                      img(src="resources/nivo/nemo.jpg", data-thumb="resources/nivo/nemo.jpg", alt="")
                      img(src="resources/nivo/toystory.jpg", data-thumb="resources/nivo/toystory.jpg", alt="")
                      img(src="resources/nivo/up.jpg", data-thumb="resources/nivo/up.jpg", alt="")
                    .slide-btns
                      button#prev
                        span.fa.fa-chevron-left
                      button#next
                        span.fa.fa-chevron-right
                    .slide-dots
                      //button.activated
                      //  span.fa.fa-circle
                      //button
                      //  span.fa.fa-circle
                      //button
                      //  span.fa.fa-circle