$sse-font-family = "Open Sans",Segoe,Tahoma,arial,"Hiragino Sans GB",
"Hiragino Sans GB W3",STHeiti, "Microsoft YaHei",sans-serif;

// index.css

$nav-height = 50px;
$background-black = rgba(0, 0, 0, 0.52);
$background-black-darken = rgba(0, 0, 0, 0.65);
$nav-main-column-margin = 64px;
$nav-main-item-font-size = 1.22em;
$list-item-primary-font-size = 1.08em;
$list-item-primary-line-height = 53px;
$nav-col-num = 4;
$highlight-blue = #065f99;

.vertical-container
  display flex
  display -webkit-flex
  -webkit-align-items center
  align-items center
  -webkit-justify-content center
  justify-content center