// Created by joshoy on 15-7-11.

<!doctype html>
html
   head
      meta(charset="utf-8")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      script(type="text/javascript", src="bower_components/jquery/dist/jquery.min.js")
      link(rel="stylesheet", type="text/css", href="css/style.css")
      link(href="css/font-awesome.min.css", rel="stylesheet", type="text/css")
   body.page-infolist
      .info-list-sidebar
         .box-search
            input.info-sidebar-search-input(placeholder='搜索……', type="text")
            button.info-sidebar-search-btn
               span.fa.fa-search
         button.btn-subscribe
            span.fa.fa-archive
            span &nbsp;&nbsp;订阅通知
         .box-categories-container
            .box-category
               .category-title
                  span.fa.fa-angle-down
                  span &nbsp;
                  span 本科生
               .category-secondary-box
                  .category-secondary 2011级本科
                  .category-secondary 2012级本科
                  .category-secondary 2013级本科
                  .category-secondary 2014级本科
                  .category-secondary 已毕业本科
            .box-category
               .category-title
                  span.fa.fa-angle-right
                  span &nbsp;
                  span 硕士生
               .category-secondary-box
            .box-category
               .category-title
                  span.fa.fa-angle-right
                  span &nbsp;
                  span 博士生
               .category-secondary-box
            .box-category
               .category-title
                  span.fa.fa-angle-right
                  span &nbsp;
                  span International
               .category-secondary-box
            .box-category
               .category-title
                  span.fa.fa-angle-right
                  span &nbsp;
                  span 教师
               .category-secondary-box