//
   Created by Administrator on 2015/7/14.

<!doctype html>

html
   head
      meta(charset="utf-8")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      script(type="text/javascript", src="bower_components/jquery/dist/jquery.min.js")
      link(rel="stylesheet", type="text/css", href="css/style.css")
      link(href="css/font-awesome.min.css", rel="stylesheet", type="text/css")
      script(type="text/javascript", src="js/page/newspageNavigator.js")
      title 教师信息
   body.page-teacher-content
      .navigator
         .blue-bar
         .content-wrap
            img.tj-logo(src='resources/logo.svg')
            .nav-others
               .nav-others-item
                  a(href="#") 学院通知
               .nav-others-item
                  a(href="#") 学院新闻
               .nav-others-item
                  .nav-special-block
                     a(href="#") 了解学院
                     .nav-special-col
                        .nav-special-row.nav-special-row-title 学院概要
                        .nav-special-row 我能吞下玻璃而不伤身体
                        .nav-special-row 我能吞下玻璃而不伤身体
                     .nav-special-col
                        .nav-special-row.nav-special-row-title 学院概要
                        .nav-special-row 我能吞下玻璃而不伤身体
                        .nav-special-row 我能吞下玻璃而不伤身体
                     .nav-special-col
                        .nav-special-row.nav-special-row-title 学院概要
                        .nav-special-row 我能吞下玻璃而不伤身体
                        .nav-special-row 我能吞下玻璃而不伤身体
                     .nav-special-col
                        .nav-special-row.nav-special-row-title 学院概要
                        .nav-special-row 我能吞下玻璃而不伤身体
                        .nav-special-row 我能吞下玻璃而不伤身体
      .teacher-content-container
         .content-wrap
            .directory 首页 > 了解学院 > 教学团队 > 穆斌
            .teacher-content-left
               .teacher-intro-primary
                  .teacher-photo
                     img(src='resources/mubin.jpg')
                  .teacher-intro-primary-right
                     .teacher-intro-primary-row
                        span.teacher-name 穆斌
                        span.teacher-name-pinyin MU BIN
                     .teacher-intro-primary-row
                        span.teacher-job 教授、博导、软件学院副院长
                     .teacher-intro-primary-row
                        span.teacher-contact 电子邮件：binmu@tongji.edu.cn
               .about-brief
                  .about-title
                     span 主讲课程
                  .about-content
                     p 数据库原理与应用（国家双语教学示范课程、上海市重点课程、上海高校示范性全英语教学课程）；大型数据库系统分析与设计；
               .about-brief
                  .about-title
                     span 研究方向
                  .about-content
                     p 大数据高性能计算、云计算；数据库、数据仓库、数据挖掘；电子商务、商务智能；智慧城市与智慧系统。
               .about-brief
                  .about-title
                     span 部分科研项目简介
                  .about-content
                     ol
                        li 国家科技支撑计划重大项目二级课题“高速磁浮半实物仿真平台集成测试与仿真管理系统研制”，主持；
                        li 国家自然科学基金项目“智能算法求解CNOP性能优化及其应用”，第二负责人；
                        li 国家重点基础研究发展计划（973计划）课题“信息服务的运行支撑平台及在交通和医疗信息服务中的实证研究”，第二负责人；
                        li 国家科技支撑计划重大项目二级课题“高速磁浮交通规划设计综合仿真系统优化”，第二负责人；
                        li 地方政府智慧城市建设示范工程项目“太仓市智慧城市大数据智能分析系统研发”，主持；
                        li 地方政府智慧城市建设示范工程项目“太仓市智慧城市IOC-KPI系统研发”，第二负责人；
            .teacher-content-right
            .clear

      .news-footer
         .content-wrap
            .block-blank
            .footer-content
               .footer-list
                  .footer-list-title 大项１
                  .footer-list-item 项目１
                  .footer-list-item 项目２
                  .footer-list-item 项目３
                  .footer-list-item 项目４
               .footer-list
                  .footer-list-title 大项２
                  .footer-list-item 项目１
                  .footer-list-item 项目２
                  .footer-list-item 项目３
                  .footer-list-item 项目４
               .footer-list
                  .footer-list-title 大项３
                  .footer-list-item 项目１
                  .footer-list-item 项目２
                  .footer-list-item 项目３
                  .footer-list-item 项目４
            .news-footer-author Copyleft 2015 Tongji SSE and contributors